* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Consolas, 'Courier New', monospace";
}

#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f5e293;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

/* header */
#nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 10;
}
.nav {
  width: 70%;
  height: 100%;
  align-items: center;
  display: flex;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  width: 100%;
}
.nav a:hover {
  color: #f5e293;
}
.nav ul li.active a {
  color: #f5e293;
}
.border {
  border: 1px solid #f5e293;
  padding: 10px;
}
a.border:hover {
  background-color: #f5e293;
  color: black;
  transition: 0.7s;
}
.banner {
  background-image: url(./images/banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 750px;
}
/* home */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  top: 80px;
  background: url(./images/view.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 80%;
  padding-top: 80px;
}

.date_select {
  align-items: end;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  width: 60%;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}
.date_select label {
  font-size: 1.5rem;
  font-weight: 1000;
  text-transform: uppercase;
}
.date_select input {
  height: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 170px;
  margin-top: 20px;
  background: transparent;
  backdrop-filter: blur(5px);
  border: 3px solid black;
  outline: none;
}
.date_select input[type="number"] {
  width: 120px;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Consolas, 'Courier New', monospace";
}
.date_select input[type="number"]::placeholder {
  color: black;
}
.grid {
  width: 100%;
}
.home .search {
  height: 30px;
  width: 150px;
  border: none;
  background-color:black;
  color: white;
  position: absolute;
  bottom: 0;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Consolas, 'Courier New', monospace";
}
.home button:hover{
  background: rgb(37, 37, 37);
}
.home p {
  width: 400px;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.home p::before,
.home p::after {
  display: inline-block;
  content: "";
  border-top: 0.3rem solid black;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-0.25rem);
}

/* about */

#about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  background-color: rgb(235, 235, 235);
}
.about {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h1 {
  width: 20%;
  margin-bottom: 50px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 3px solid #f5e293;
}
.about p {
  font-size: 1.2rem;
  font-style: italic;
}

/* services */

#services {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/8.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#services h1 {
  margin: 100px 0 150px 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  width: 25%;
  padding-bottom: 10px;
  border-bottom: 3px solid #f5e293;
}
.services_grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}
.services_grid .grid {
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 10px 5px rgba(255, 255, 255, 0.7),
    -3px -3px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.services_grid .grid h2 {
  margin: 20px 0;
}
.services_grid .grid p {
  font-size: 1.2rem;
}

/* gallery */

#gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(235, 235, 235);
}
.gallery {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gallery h1 {
  margin: 100px 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 20%;
  padding-bottom: 10px;
  border-bottom: 3px solid #f5e293;
}
.slide {
  position: relative;
  width: 1300px;
  height: 600px;
}
.slide .prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  width: 40px;
  height: 40px;
  margin-top: 20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #f5e293;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.747),
    -5px -5px 5px rgba(255, 255, 255, 0.647), inset 1px 1px 2px #c5b05c,
    inset -1px -1px 2px rgba(255, 255, 255, 0.647);
  color: black;
  transition: all 0.7s;
  font-size: 20px;
  font-weight: bold;
}
.slide .prev:hover,
.next:hover {
  position: absolute;
  top: 43.5%;
  width: 40px;
  height: 40px;
  transform: scale(0.9);
}
.prev {
  left: -70px;
}
.next {
  right: -70px;
}
.slide ul {
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.slide ul li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 147px;
  width: 550px;
  height: 300px;
  margin: 0;
  padding: 0;
  border: 3px solid black;
  background-color: #333;
  cursor: pointer;
}
.slide ul li img {
  width: 100%;
  height: 100%;
  background-position: center;
}

/* rooms */
#rooms{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-image: url(./images/featured.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.rooms h1{
  margin: 50px 0;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 20%;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(245, 226, 147);
}
.rooms_info{
  width: 400px;
  height: 450px;
  text-align: center;
  padding: 40px;
  margin-top: 50px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background: linear-gradient(#b8b8b8d0, rgba(255,255,255,0.1));
  border-radius: 5px;

}
.rooms_button{
  margin-top: 80px;
  width: 150px;
  height: 50px;
  border: 3px solid rgb(245, 226, 147);
  letter-spacing: 3px;
  text-transform: uppercase;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
.rooms_button:hover{
  background-color:  rgb(245, 226, 147);
  cursor: pointer;
  outline: none;
  transition: 0.75s;
  color: black;
}

#rooms_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
  padding-bottom: 100px;
}
.rooms_container{
  font-family:'Montserrat', sans-serif;
  padding-top: 180px;
  width: 80%;
  height: 100%;
}
.rooms_container h1{
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 30px;
}
.rooms_select{
  align-items: end;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  width: 100%;
  height: 140px;
  padding: 25px 0 50px 0;
  border-bottom: 3px solid lightgray;
  border-top:3px solid  lightgray;
}

.rooms_select label {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.rooms_select input {
  height: 40px;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 170px;
  background: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid black;
  outline: none;
}
.rooms_select input[type="number"] {
  width: 150px;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Consolas, 'Courier New', monospace";
}
.rooms_select input[type="number"]::placeholder {
  color: black;
}
.rooms_search {
  align-items: center;
  justify-items: center;
  bottom: 0;
  height: 50px;
  width: 200px;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  background-color: black;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  font-family: "Consolas, 'Courier New', monospace";
}
.rooms_search:hover{
  background: rgb(37, 37, 37);
}
.rooms_grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rooms_grid:last-child{
  align-items: flex-end;
}

/* detailed rooms */

.room{
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  margin: 80px 0;
  border-bottom: 3px solid lightgray;
}
.room ul{
  padding: 20px 0 20px 20px;
}
.pic{
  width: 300px;
  height: 90%;
  margin: 0 20px 0 0;
  background-image: url(./images/family.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.info{
  width: 800px;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price{
  width: 200px;
  height: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.price p{
  font-size: 1.4rem;
  padding-bottom: 20px;
}
.price h1{
  font-size: 3rem;
}
.price button{
  width: 100%;
  height: 50px;
  color: white;
  background: black;
  font-size: 1.4rem;
  cursor: pointer;
}
.price button:hover{
  background: rgb(37, 37, 37);
}
.icons{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 40px;
  border-top: 3px solid lightgray;
}
.icons img{
  width: 40px;
  height: 40px;
  font-weight: 1000;
  stroke: black;
  stroke-width: 30;
}
.icons i{
  font-size: 40px;
}
.icons .fridge, .work{
  width: 60px;
  height: 60px;
}
.info p,li{
  font-size: 1.1rem;
}
.name{
  font-size: 2rem;
  padding-bottom: 10px;
}

/* see & do */

#see_do {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  background: linear-gradient(rgba(204, 204, 204, 0.363),#b8b8b8d0); 
}
#see_do h3 {
  margin: 50px 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 20%;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(245, 226, 147);
}

.see_do_grid {
  width: 80%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  grid-row-gap: 5rem;
  margin-top: 100px;
}
.see_do_grid .grid {
  width: 400px;
  height: 250px;
  padding: 0 20px;
  box-shadow: 
    -5px -5px 10px 3px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transform-style: preserve-3d;
  position: relative;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgb(243, 241, 241);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 1s ease-in-out;
  transform: perspective(500px) rotateY(0deg);
}
.card .face.back {
  transform: perspective(500px) rotateY(180deg);
}
.card:hover .face.front {
  transform: perspective(500px) rotateY(180deg);
}
.card:hover .face.back {
  transform: perspective(500px) rotateY(360deg);
}
.amazon {
  background-image: url(./images/amazon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transform: perspective(500px) rotateY(180deg);
}
.chine {
  background-image: url(./images/chine.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transform: perspective(500px) rotateY(180deg);
}
.karting {
  background-image: url(./images/karting.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transform: perspective(500px) rotateY(180deg);
}
.dinosaur {
  background-image: url(./images/dinosaur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transform: perspective(500px) rotateY(180deg);
}
.needles {
  background-image: url(./images/needles.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transform: perspective(500px) rotateY(180deg);
}
.railway {
  background-image: url(./images/railway.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  transform: perspective(500px) rotateY(180deg);
}
.see_do_grid .grid h2 {
  margin: 10px 0;
  font-size: 1.6rem;
  padding: 15px 0 30px 0;
}
.see_do_grid .grid p {
  font-size: 1.2rem;
  font-style: italic;
}

/* guest review */
#guest_review {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#b8b8b8d0, rgba(255,255,255,0.3));
}
.guest_review {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guest_review h1 {
  width: 40%;
  margin: 100px 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  border-bottom: 3px solid #f5e293;
}
span.lg_txt {
  font-size: 1.7rem;
  font-weight: 600;
}
span.med_txt {
  font-size: 1.3rem;
  line-height: 1.9rem;
}
.collection_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8rem;
  margin-top: 50px;
}
.collection_grid .review {
  width: 350px;
  height: 300px;
  text-align: center;
}
/* last minute */

#last_minute {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.last_minute {
  width: 80%;
}
.last_minute h1 {
  margin: 100px 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.last_minute p {
  font-size: 1.6rem;
}

/* contact */

#contact {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background-color: rgb(235, 235, 235);
  position: relative;
}
.contact {
  width: 80%;
  height: 100px;
  text-align: center;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.contact h1 {
  margin-bottom: 50px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 30%;
  padding-bottom: 10px;
  border-bottom: 3px solid #f5e293;
}
.contact p {
  font-size: 1.2rem;
  font-style: italic;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 400px;
  margin-bottom: 65px;
}
.form input {
  line-height: 1.6rem;
  font-size: 1.2rem;
  margin: 10px 0;
  outline: none;
  border: none;
  border: none;
  border-bottom: 3px solid #f3dd84;
  background-color: transparent;
}
.form input[id="name"],
input[id="email"] {
  width: 270px;
}
.form input[id="email"] {
  position: absolute;
  top: 0;
  right: 0;
}
.form textarea {
  outline: none;
  resize: none;
  font-size: 1.6rem;
  padding: 10px 0 0 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form textarea::placeholder{
  letter-spacing: 3px;
}
.form .submit {
  height: 2rem;
  font-size: 1.4rem;
  letter-spacing: 3px;
  border: none;
  background-color: #f3dd84;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.747);
}

.map {
  width: 100%;
  position: absolute;
  bottom: 0%;
}
iframe {
  width: 100%;
}
/* footer */

#footer {
  width: 100%;
  height: 60px;
  font-size: 0.9rem;
  letter-spacing: 2px;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TCs */
